@media (max-width: 480px) {
  .showcase {
    height: 700px;
    width: 100%;
    overflow: auto;
    nav {
      .mainmenu {
        display: none;
      }
      .mainmenu-mobile {
        position: absolute;
        display: block;
        background-color: #f4f4f4;
        left: 0;
        top: 50px;
        transition: all 0.5s ease-out;
        width: 100%;
        height: 30vh;

        li {
          list-style: none;
          text-align: center;
          padding-top: 20px;
          width: 100%;
          transition: all 0.5s ease;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          font-family: Playfair;
        }
        a:hover {
          color: rgb(79, 116, 116);
        }
      }

      .mobile-view-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        background-color: #f4f4f4;
        cursor: pointer;
      }
    }

    &-content {
      display: grid;
      justify-content: center;
      margin-top: 30px;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
        margin: auto;
      }

      ul {
        justify-content: center;
      }

      img {
        width: 70%;
        margin: auto;
        margin-top: 20px;
      }
    }
  }

  .aboutme {
    height: 500px;
    width: 100%;

    .heading {
      margin-top: 90px;
      font-size: 38px;
      font-weight: 700;
    }

    .para1 {
      width: 200px;
    }
  }

  .myskill {
    width: 100%;
    height: 600px;

    h2 {
      font-size: 38px;
      font-weight: 700;
    }

    &-content {
      margin-top: 30px;
      .skill-item {
        gap: 5px;
      }

      .logo {
        font-size: 3rem;
      }
      p {
        font-size: 15px;
        padding-top: 20px;
      }
    }
  }

  .services {
    width: 100%;
    height: 1500px;
    h1 {
      font-size: 38px;
      font-weight: 700;
    }
    &-content {
      .card {
        width: 300px;

        p {
          padding-right: 20px;
        }
      }
      .Row {
        display: grid;
        gap: 10px;
      }
    }
  }

  .project {
    height: 2200px;
    width: 100%;

    h1 {
      font-size: 38px;
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .item1 {
        width: 300px;
        height: 300px;
      }
      .item2 {
        width: 300px;
        height: 300px;
      }
      .item3 {
        width: 300px;
        height: 300px;
      }
      .item4 {
        width: 300px;
        height: 300px;
      }
      .item5 {
        width: 300px;
        height: 300px;
      }
      .item6 {
        width: 300px;
        height: 300px;
      }
    }
  }

  .contact {
    max-width: 100%;
    margin-top: 50px;
    &-content {
      display: grid;

      .info {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
          font-size: 38px;
          font-weight: 700;
        }
      }
    }

    .service-info {
      width: 100%;
      padding-top: 100px;
      padding-left: 30px;
      padding-right: 40px;
      margin-top: 20px;
    }
  }
}
