@media (min-width: 768px) and (max-width: 1024) {
  .showcase {
    height: 700px;
    width: 100%;
    overflow: auto;

    nav {
      .mainmenu {
        height: 40vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: bisque;
        transition: top 1s ease;
        display: none;
      }

      .closemenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .openmenu {
        display: block;
      }
    }

    &-content {
      display: grid;
      justify-content: center;
      margin-top: 30px;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
        margin: auto;
      }

      ul {
        justify-content: center;
      }

      img {
        width: 40%;
        margin: auto;
        margin-top: 20px;
      }
    }
  }

  .myskill {
    width: 100%;
  }

  .project {
    height: 2100px;
    width: 100%;

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .item1 {
        height: 300px;
      }
      .item2 {
        width: 388px;
        height: 300px;
      }
      .item3 {
        width: 388px;
        height: 300px;
      }
      .item4 {
        width: 388px;
        height: 300px;
      }
      .item5 {
        width: 388px;
        height: 300px;
      }
      .item6 {
        width: 388px;
        height: 300px;
      }
    }
  }

  .services {
    height: 1500px;
    &-content {
      .Row {
        display: grid;
      }
    }
  }

  .contact {
    max-width: 100%;
    margin-top: 30px;
    &-content {
      display: grid;

      .info {
        width: 100%;
        padding: 0 30px;

        h1 {
          font-size: 30px;
        }
      }
    }

    .service-info {
      width: 100%;
      margin-top: 30px;
    }
  }
}
