@import 'utilities';

.services {
  height: 1000px;
  background: #fbfcfe;
  padding-top: 70px;

  h1 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
  }

  p {
    margin-bottom: 60px;
    font-family: Playfair;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 27px;
    color: #000;
  }

  &-content {
    margin-top: 20px;

    .card {
      width: 387px;
      height: 272px;
      overflow: hidden;

      .web {
        background: black;
      }

      h3 {
        font-family: Playfair;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #000;
        margin-top: 16px;
        margin-bottom: 12px;
      }

      .p {
        font-family: Playfair;
        font-weight: 400;
        font-size: 16;
        line-height: 27px;
        color: #4d4d4d;
      }
    }

    .Row {
      display: flex;
      gap: 20px;
    }
  }
}
@import 'mobile';
@import 'porttab';
@import 'tablet';
