@import "index";
@media (max-width: 480px) {
  //mobile design for about me
  .aboutme {
    .heading {
      margin-top: unset;
      font-size: 38px;
      font-weight: 700;
    }

    .para1 {
      width: 200px;
    }

    .btn {
      width: 40%;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }

  .myskill {
    width: 100%;
    min-height: 400px;

    h2 {
      font-size: 38px;
      font-weight: 700;
    }

    &-content {
      margin-top: 30px;
      .skill-item {
        gap: 5px;
      }

      .logo {
        font-size: 3rem;
      }
      p {
        font-size: 15px;
        padding-top: 20px;
      }
    }
  }

  .project {
    &-content {
      .project-card {
        .p-img {
          width: 100%;
          min-width: 7rem;
        }
      }
    }
  }
  //mobile design for services
  .services {
    padding-top: 15px;
    width: 100%;
    height: 1780px;
    h1 {
      font-size: 38px;
      font-weight: 700;
    }
    &-content {
      .card {
        width: 300px;

        p {
          padding-right: 20px;
        }
      }
      .Row {
        display: grid;
        gap: 10px;
      }
    }
  }
  //mobile design for project
  .project {
    h1 {
      font-size: 38px;
    }

    &-content {
      .project-card {
        width: 100%;
        height: 700px;

        .p-img {
          width: 100%;
        }
      }
    }
  }
  //mobile design for contact
  .contact {
    &-content {
      .info {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
          font-size: 38px;
          font-weight: 700;
        }
      }
    }

    .service-info {
      width: 100%;
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 40px;
    }
  }
}
