@import "index";
@media (max-width: 480px) {
  //mobile design for header

  .showcase {
    height: 500px;
    // overflow: auto;
    nav {
      .mobile-view {
        background: #f4f4f4;
      }
      .mainmenu {
        display: none;
      }
      .mainmenu-mobile {
        position: absolute;
        display: grid;
        background-color: #f4f4f4;
        left: 0;
        top: 50px;
        transition: all 0.5s ease-out;
        width: 100%;
        height: 40vh;

        .link-item {
          list-style: none;
          padding-top: 20px;
          width: 100%;
          transition: all 0.5s ease;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          font-family: Playfair;
        }
        a:hover {
          color: rgb(79, 116, 116);
        }
      }

      .mobile-view-icon {
        display: block;
        position: absolute;
        font-size: 45px;
        border: none;
        outline: none;
        right: 25px;
        color: var(--body_color);
        background-color: inherit;
        cursor: pointer;
      }
    }

    .btn {
      width: 40%;
      display: flex;
      justify-content: center;
      margin: auto;
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr, 1fr;
      justify-content: center;
      margin-top: 70px;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
        margin: auto;
      }

      ul {
        justify-content: center;
      }

      .myself {
        width: 70%;
        margin: auto;
        margin-top: 20px;
      }
      :nth-child(2) {
        grid-row: 1;
      }
    }
  }

  //mobile design for about me
  .aboutme {
    width: 100%;

    .heading {
      // margin-top: 90px;
      font-size: 38px;
      font-weight: 700;
    }

    .para1 {
      width: 200px;
    }

    .btn {
      width: 40%;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }

  .myskill {
    width: 100%;
    height: 600px;

    h2 {
      font-size: 38px;
      font-weight: 700;
    }

    &-content {
      margin-top: 30px;
      .skill-item {
        gap: 5px;
      }

      .logo {
        font-size: 3rem;
      }
      p {
        font-size: 15px;
        padding-top: 20px;
      }
    }
  }

  .project {
    &-content {
      .project-card {
        .p-img {
          width: 100%;
          min-width: 10.7rem;
        }
      }
    }
  }
  //mobile design for services
  .services {
    width: 100%;
    height: 1780px;
    h1 {
      font-size: 38px;
      font-weight: 700;
    }
    &-content {
      .card {
        width: 300px;

        p {
          padding-right: 20px;
        }
      }
      .Row {
        display: grid;
        gap: 10px;
      }
    }
  }
  //mobile design for project
  .project {
    h1 {
      font-size: 38px;
    }

    // &-content {
    //   // .project-card {
    //   //   // width: 100%;
    //   //   // height: 700px;

    //   //   // .p-img {
    //   //   //   width: 100%;
    //   //   // }
    //   // }
    // }
  }
  //mobile design for contact
  .contact {
    max-width: 100%;
    // margin-top: 50px;
    &-content {
      display: grid;

      .info {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
          font-size: 38px;
          font-weight: 700;
        }
      }
    }

    .service-info {
      width: 100%;
      padding-top: 100px;
      padding-left: 30px;
      padding-right: 40px;
    }
  }
}
