@media (max-width: 760px) {
  .showcase {
    height: 800px;
    width: 100%;
    overflow: auto;
    nav {
      .mobile-view {
        background: #f4f4f4;
      }
      .mainmenu {
        display: none;
      }
      .mainmenu-mobile {
        position: absolute;
        display: grid;
        background-color: #f4f4f4;
        left: 0;
        top: 50px;
        transition: all 0.5s ease-out;
        width: 100%;

        .link-item {
          list-style: none;
          padding-top: 20px;
          width: 100%;
          transition: all 0.5s ease;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #000;
          font-size: 18px;
          font-weight: 400;
          font-family: Playfair;
        }
        a:hover {
          color: rgb(79, 116, 116);
        }
      }

      .mobile-view-icon {
        display: block;
        position: absolute;
        font-size: 45px;
        border: none;
        outline: none;
        right: 25px;
        color: var(--body_color);
        background-color: inherit;
        cursor: pointer;
      }
    }

    .btn {
      width: 40%;
      display: flex;
      justify-content: center;
      margin: auto;
    }

    &-content {
      display: grid;
      justify-content: center;
      margin-top: 30px;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
        margin: auto;
      }

      ul {
        justify-content: center;
      }

      img {
        width: 40%;
        margin: auto;
        margin-top: 20px;
      }
    }
  }

  .aboutme {
    // height: 440px;
    .heading {
      font-size: 50px;
      margin-top: 100px;
    }

    .para1 {
      font-size: 20px;
      font-weight: 550;
    }
  }

  .myskill {
    width: 100%;

    .skill-subheading {
      font-size: 20px;
    }

    .icon-header {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .services {
    // height: 1500px;
    .s-header {
      font-size: 20px;
      font-weight: 350px;
    }
    &-content {
      .Row {
        display: grid;
      }
    }
  }

  .contact {
    max-width: 100%;
    &-content {
      display: grid;

      .info {
        width: 100%;
        padding: 0 30px;

        h1 {
          font-size: 30px;
        }
      }
    }

    .service-info {
      width: 100%;
      // margin-top: 30px;

      .btn {
        // margin-bottom: 30px;
      }
    }
  }
}
