@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

ul{
margin-bottom: unset;
}
