@import 'utilities';
@import 'index';

.about {
  background-color: var(--body_background);
}
.skills {
  background-color: var(--body_background);
}

.aboutme {
  height: 600px;

  .heading {
    font-size: 48px;
    font-weight: 500;
    font-family: Playfair;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: var(--body_color);
  }

  .para1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Playfair;
    font-style: none;
    line-height: 28px;
    width: 490px;
    margin: auto;
    color: var(--body_color);
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 20px;
  }

  li {
    padding-right: 20px;

    .github {
      color: var(--body_color);
      font-size: 3rem;
    }
    .linkedin {
      color: #2351dc;
      font-size: 3rem;
    }
    .twitter {
      color: #2351dc;
      font-size: 3rem;
    }

    .icon {
      transition: transform 0.3s;

      :hover {
        transform: translateY(-5px);
      }
    }
  }
  .hire-btn {
    display: flex;
    justify-content: center;
  }
}

.myskill {
  height: 698px;

  h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: Playfair;
    margin-top: 96px;
    color: var(--body_color);
  }

  .skill-subheading {
    font-size: 18px;
    font-weight: 500;
    font-family: Playfair;
    color: var(--skill_color);
    font-style: normal;
  }

  &-content {
    display: flex;
    align-items: center;
    margin-top: 62px;

    .icon-header {
      font-size: 18px;
      font-weight: 500;
      font-family: Playfair;
      color: var(--skill_color);
      font-style: normal;
    }

    .first-flex {
      width: 50%;
      padding-top: 20px;
      display: grid;
      gap: 20px;
    }

    .second-flex {
      padding-top: 20px;
      width: 50%;
      display: grid;
      gap: 20px;
    }

    .skill-item {
      display: flex;
      gap: 20px;
    }

    .logo {
      font-size: 4rem;
      color: #2351dc;
    }

    p {
      font-family: Playfair;
      font-size: 24px;
      font-weight: 600;
      color: #000;
      padding-top: 30px;
    }
  }
}
@import 'mobile';
@import 'tablet';
@import 'porttab';
