@import 'utilities';
@import 'index';

header {
  background-color: var(--body_background);
}

.showcase {
  height: 580px;

  .mobile-view-icon {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    z-index: 1000;

    .logo {
      font-weight: 400;
      font-size: 25px;
      font-family: Playfair;
      list-style: none;
      text-decoration: none;
      color: var(--link_color);
    }
    a:hover {
      color: var(--link_hover);
    }
    .theme {
      border: none;
    }

    .mainmenu {
      display: flex;
      list-style: none;

      .link-item {
        list-style: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        color: var(--link_color);
        font-size: 18px;
        font-weight: 400;
        font-family: Playfair;
      }
      a {
        text-decoration: none;
        text-transform: capitalize;
      }
      a:hover {
        color: var(--link_hover);
      }
    }
  }
  .scrolled {
    background-color: var(--nav_scroll);
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body_color);
    margin-top: 50px;
    .intro {
      animation-name: fadebottom;
      animation-duration: 5s;
    }

    h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;
      font-family: Playfair;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
    }

    li {
      padding: 20px 20px 0 0;

      .github {
        color: var(--body_color);
        font-size: 3rem;
      }
      .linkedin {
        color: #2351dc;
        font-size: 3rem;
      }
      .twitter {
        color: #2351dc;
        font-size: 3rem;
      }
    }

    .icon {
      transition: transform 0.3s;

      :hover {
        transform: translateY(-5px);
      }
    }

    p {
      font-size: 25px;
      font-weight: 300;
      line-height: 30px;
      margin-right: 100px;
      margin-top: 10px;
      font-family: Playfair;

      .myname {
        color: var(--myname_color);
        font-weight: 400;
      }
    }

    .myself {
      width: 35%;
      animation-name: fadein;
      animation-duration: 5s;
      overflow: none;
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  @keyframes fadebottom {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@import 'mobile';
@import 'tablet';
@import 'porttab';
