@import 'utilities';

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #f4f4f4;
  color: #333;
}

.showcase {
  height: 550px;

  .mobile-view-icon {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .logo {
      margin-top: 5px;
      font-weight: 400;
      font-size: 25px;
      font-family: Playfair;
      list-style: none;
      text-decoration: none;
      color: #000;
    }

    .theme {
      border: none;
      background-color: inherit;
    }

    .darkmode {
      margin-top: 5px;
      font-weight: 400;
      font-size: 25px;
      font-family: Playfair;
      list-style: none;
      text-decoration: none;
      color: #fff;
    }
    .mainmenu {
      display: flex;
      // justify-content: flex-end;
      list-style: none;

      .link-item {
        list-style: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        color: #000;
        font-size: 18px;
        font-weight: 400;
        font-family: Playfair;
      }
      .link-item-dark {
        list-style: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        font-family: Playfair;
      }
      a {
        text-decoration: none;
        text-transform: capitalize;
      }
      a:hover {
        color: rgb(79, 116, 116);
      }
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .intro {
      animation-name: fadebottom;
      animation-duration: 5s;
    }

    h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;
      font-family: Playfair;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
    }

    li {
      padding: 20px 20px 0 0;

      .github {
        color: #000;
        font-size: 3rem;
      }
      .linkedin {
        color: #2351dc;
        font-size: 3rem;
      }
      .twitter {
        color: #2351dc;
        font-size: 3rem;
      }
    }

    .icon {
      transition: transform 0.3s;

      :hover {
        transform: translateY(-5px);
      }
    }

    p {
      font-size: 25px;
      font-weight: 300;
      line-height: 30px;
      margin-right: 100px;
      margin-top: 10px;
      font-family: Playfair;

      .myname {
        color: rgb(71, 71, 133);
        font-weight: 400;
      }
    }

    .myself {
      width: 35%;
      animation-name: fadein;
      animation-duration: 5s;
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  @keyframes fadebottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@import 'mobile';
@import 'tablet';
@import 'porttab';
