@import "utilities";
@import "index";

.project {
  background-color: var(--body_background);

  .slick-prev:before {
    color: var(--arrow-color);
  }
  .slick-next:before {
    color: var(--arrow-color);
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.57px;
    font-family: Playfair;
    letter-spacing: -0.03em;
    color: var(--body_color);
    margin-top: 113px;
  }

  .para {
    font-size: 16px;
    font-family: Playfair;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0.03em;
    color: var(--body_color);
    margin-top: 6px;
    margin-bottom: 70px;
  }

  &-content {
    .slick-slider {
      width: 100%;
    }
    .slick-slide > div {
      margin: 0 10px;
    }

    .project-card {
      width: 100%;
      min-height: 500px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      color: var(--body_color);
      border: 1px solid #2351dc;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        transform: scale(0.99);
      }
      .p-name {
        font-size: 30px;
        text-decoration: underline;
        font-family: Playfair;
      }
      .p-img {
        width: 100%;
        min-width: 18.7rem;
        min-height: 200px;
      }
      p {
        font-family: Playfair;
      }
      .btn-container {
        margin-top: auto;
      }
      .seemore-btn {
        background: none;
        outline: none;
        border: none;
        margin-top: auto;
        color: var(--body_color);
        &:hover {
          color: var(--link_hover);
          transform: scale(0.98);
        }
      }
    }
  }
}

@import "tablet";
@import "porttab";
@import "mobile";
